@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,600;0,700;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  letter-spacing: 0.84px;
  color: var(--text-color);
  background-color: var(--background-color-light);
}

:root {
  --text-color: #170c3a;
  --text-color-secondary: #b3c5cd;

  --primary-color: #365df0;
  --primary-color-hover: #2f55cc;
  --primary-color-active: #244aa8;

  --background-color: #f9f9f9;
  --background-color-light: white;
  --background-color-dark: #eef3f6;

  --tag-hover: #d3d3d3;

  --font-family: "Poppins", sans-serif;
  --box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

[data-theme="dark"] {
  --text-color: #f0f0f0;
  --text-color-secondary: #b3c5cd;

  --primary-color: #170c3a;
  --primary-color-hover: #353372;
  --primary-color-active: #b2a9df;

  --tag-hover: #6554c0;

  --background-color: #170c3a;
  --background-color-light: #4c4499;
  --background-color-dark: #353372;
}
