.main {
  max-width: 1100px;
  margin: 0 auto;
}

.main.modalIsOpen {
  height: 100vh;
  overflow-y: hidden;
}

.title {
  margin-top: 50px;
  margin-bottom: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 35px;
}

.headerLeft {
  position: relative;
  display: flex;
  align-items: center;
}

.searchInputContiner {
  position: relative;
}

.searchIcon {
  position: absolute;
  top: 11px;
  left: 14px;
  width: 18px;
  height: 18px;
}

.searchInput,
.modalInput,
.modalInputTextArea {
  padding: 10px 10px 10px 50px;
  margin-right: 20px;
  max-width: 400px;
  height: 40px;
  background: #f5f4f6 0% 0% no-repeat padding-box;
  border: 1px solid #ebeaed;
  border-radius: 5px;
  opacity: 1;
  transition: 0.1s;
  text-align: left;
  font: normal normal normal 20px/25px Source Sans Pro;
  letter-spacing: 0px;
  color: #170c3a;
}

.searchInput:focus {
  background: #ebeaed 0% 0% no-repeat padding-box;
  border: 1px solid #dedce1;
  border-radius: 5px;
  opacity: 1;
  outline: none;
}

.searchInput::placeholder {
  text-align: left;
  font: normal normal normal 20px/26px Source Sans Pro;
  letter-spacing: 0.4px;
  color: #b1adb9;
}

.searchLabel {
  margin-left: 10px;
  text-align: left;
  font: normal normal normal 20px/26px Source Sans Pro;
  letter-spacing: 0.4px;
  color: #170c3a;
}
.addButton,
.saveButton,
.addButtonMobile,
.cancelButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin-right: 22px;
  width: 174px;
  height: 50px;
  background: #365df0 0% 0% no-repeat padding-box;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
  outline: none;
  border: none;
}
.addButtonMobile {
  display: none;
}

.addButton:hover,
.saveButton:hover {
  background: #2f55cc 0% 0% no-repeat padding-box;
}

.addButton:active,
.saveButton:active {
  background: #244aa8 0% 0% no-repeat padding-box;
}

.addLabel {
  color: #ffffff;
  text-align: center;
  font: normal normal 600 18px/24px Source Sans Pro;
  letter-spacing: 0.36px;
  width: 80px;
}

.noPosts {
  max-width: 1100px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin-top: 50px;
}

.noPostsImg {
  width: 100%;
  position: relative;
  z-index: -5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 60px;
}

.notFound {
  margin-top: 50px;
  position: absolute;
  top: -60px;
  font-size: 2rem;
}

.spinner {
  text-align: center;
  margin-top: 100px;
}
.loading {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
  .main {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 850px) {
  .addButton {
    display: none;
  }
  .addButtonMobile {
    display: flex;
    position: fixed;
    top: 50px;
    right: 50px;
    /* -webkit-box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.65); */
  }
}
@media only screen and (max-width: 640px) {
  .main {
    padding: 0 20px;
    padding-top: 20px;
    padding-bottom: 80px;
  }

  .title {
    margin-top: 18px;
  }

  .subtitle {
    font-size: 1.1rem;
  }
  .header {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .headerLeft {
    width: 100%;
    position: relative;
    display: block;
  }

  .searchInputContiner {
    width: 100%;
    position: relative;
  }

  .searchInput {
    width: 100%;
    max-width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .addButtonMobile {
    width: 120px;
    height: 40px;
    right: 0;
    top: 20px;
  }
  .addLabel {
    text-align: right;
  }
  .notFound {
    font-size: 1.5rem;
  }
  .topHeader {
    position: fixed;
    bottom: -150px;
    left: 0;
    width: 100vw;
    padding: 0 20px;
    z-index: 100;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.59);
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.59);
    transition: 0.2s ease;
  }
  .topHeader:hover {
    bottom: 0;
  }

  .addButtonMobile {
    position: absolute;
    top: auto;
    bottom: 170px;
    left: auto;
    right: 0px;
  }
}
